{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <!-- Project One Row-->
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/pizza-oven-side.webp' %}"
                alt="Pizza Truck with pizza oven door open showing lit oven" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Event Hire</h4>
                        <p class="mb-0 text-white-50">If we can drive there, we can cook there. We can cater for up to
                            300
                            people for your event. Wether that be your Birthday or Wedding Celebrations, Street Party or
                            Corporate Event. If you have any special requests or dietary requirements, please let us
                            know in the comment box when booking</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Two Row-->
    <div class="row gx-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/pizza-stove.webp' %}" alt="..." /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Enquiries</h4>
                        <p class="mb-0 text-white-50">Any further enuqiries can be made by contacting us via email:
                            pizzaproject@outlook.co.uk or phone: 07774960163</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Now Hiring -->
    <!-- Project Three Row-->
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/pizza-van-front.webp' %}"
                alt="Pizza Truck with pizza oven door open showing lit oven" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Ready for a <em>slice of the action</h4>
                        <p class="mb-0 text-white-50"> Want to join our hard working team? Delivering not only great pizza
                            but a positive impact on your local community, whilst earning some
                            dough. Then please reach out and contact our team via email.
                            pizzaproject@outlook.co.uk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /now hiring -->
{% endblock %}