{% extends "base.html" %}
{% block content %}

<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <!-- insert image here -->
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/menu.webp"
                    alt="A chalkboard menu, showing the pizza slices we serve and prices. Cheese £8, Mushroom £10, Pepperoni £12, Hawaiian £12" />
            </div>
            <!-- /insert image here -->
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Our Menu</h4>
                    <p class="text-black-50 mb-0">Unlike our slices we keep our menu simple to allow us to deliver the
                        best New York style pizza slices outside of the USA. A smaller menu means we can focus on
                        perfecting the slices we serve. For private event bookings we can work with you and our menu to
                        create a bespoke experience.
                    </p>
                </div>
            </div>
        </div>
</section>

{% endblock %}