{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/menu.webp' %}"
                alt="A chalkboard menu, showing the pizza slices we serve and prices. Cheese £8, Mushroom £10, Pepperoni £12, Hawaiian £12"" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Menu</h4>
                        <p class="mb-0 text-white-50"> Unlike our slices we keep our menu simple to allow us to deliver the
                        best New York style pizza slices outside of the USA. A smaller menu means we can focus on
                        perfecting the slices we serve. For private event bookings we can work with you and our menu to
                        create a bespoke experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}