{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="projects-section bg-light" id="projects"> 
    
<h1 class="text-white">Bookings</h1>

<table border="1">
    <thead>
        <tr>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>Contact Number</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Address</th>
            <th>Dietary Requirements</th>
            <th>Booking Size</th>
            <th>Requests</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{% booking.title %}</td>
            <td>{% booking.first_name %}</td>
            <td>{% booking.last_name %}</td>
            <td>{% booking.email %}</td>
            <td>{% booking.phone_number %}</td>
            <td>{% booking.booking_date %}</td>
            <td>{% booking.start_time %}</td>
            <td>{% booking.end_time %}</td>
            <td>{% booking.address %}</td>
            <td>{% booking.dietary_requirements %}</td>
            <td>{% booking.booking_size %}</td>
            <td>{% booking.requests %}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>


</section>
{% endblock %}