<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Pizza Project</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta SEO tags -->
    <meta name="description" content="Bristol based Pizza, using locally sourced fresh ingredients" />
    <meta name="keywords" content="the pizza project, bristol, bristol pizza, local pizza, locally sourced,
        fresh ingredients, pizza slice, grab and go, community, mobile pizza, charity, charitable, local charities" />
    <!-- /meta seo tags -->
    <title>Document</title>
</head>

<body>

</body>

</html>